body {
    background: #B7EEF0; 
}


.quiz_card.activeQuiz {
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    z-index: 5;
    opacity: 1;
}

/* START BUTTON */ 
.start_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_button button {
    color: white;
    background-color: #585Ce1;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 500;
    font-family: didot, serif;
    cursor: pointer;
    padding: 15px 30px;
}

.start_button button:hover {
    background-color: #278197;
}

/* QUESTION CARDS [includes header info with time, questions, and next buttone] */
.quiz_card {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 10px;
}

.quiz_card header {
    background: #33a8c5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz_card header .title {
    color: white;
    font-family: monospace;
    font-size: 38px;
    font-weight: 500;
}

.quiz_card header .timer {
    color: #278197;
    background: white;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 175px;
    border-radius: 5px;
    padding: 4px 7px;
}

.quiz_card header .timer .time_left {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 300;
    color: #33a8c5;
}

.quiz_card header .timer .sec {
    color: #585Ce1;
    font-size: 21px;
    font-weight: 700;

}

/*QUESTIONS*/
.quiz_card section {
    background: white;
    padding: 20px 30px 20px 30px;
}

.quiz_card section .q_text {
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.quiz_card section .ABCD {
    display: block;
    margin-top: 20px;
}

section .ABCD .option button{
    background-color: #f0ffff;
    color: #216a7c; 
    padding: 4px 7px;
    border: 1px solid #B7EEF0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

section .ABCD .option button:hover {
    background: #33a8c5;
    color: white;
}

/*CONTINUE BUTTON*/
.quiz_card footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
}

footer .next_button {
    font-size: 20px;
    background: #33a8c5;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer .next_button:hover {
    background-color: #585Ce1;
}

/*END PAGE*/
.results {
    margin: auto;
    width: 50%;
    padding: 50px 100px;
    border: 1px solid #278197;
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.finished {
    font-size: 25px;
    font-family: monospace;
    color:#585Ce1;
    text-align: center;
}

.results .score {
    border: 1px solid #216a7c;
    border-radius: 5px;
    background-color: #e2feff;
    color: #1a505e;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 20px 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.results .restart {
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.results .restart .restart_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #1a505e;
    font-style: italic;
}

.results .restart button {
    font-size: 20px;
    background: #33a8c5;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.results .restart button:hover {
    background-color: #585Ce1;
}

.results .scoreS {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.results .scoreS input {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 5px 10px;
    border: 1px solid #216a7c;
    border-radius: 3px;
    width: 75%;
}

.results .scoreS button {
    font-size: 10px;
    background: #33a8c5;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 5px 10px;
    border: 1px solid #1a505e;
    border-radius: 3px;
    cursor: pointer;
}

.results .scoreS button:hover {
    background-color: #585Ce1;
}