body {
    background: #B7EEF0; 
}


/* START BUTTON */ 
.start_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_button button {
    color: white;
    background-color: #585Ce1;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 500;
    font-family: didot, serif;
    cursor: pointer;
    padding: 15px 30px;
}

.start_button button:hover {
    background-color: #278197;
}

/* QUESTION CARDS [includes header info with time, questions, and next buttone] */
.quiz-card {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 10px;
}

.quiz-card header {
    background: #33a8c5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-card header .title {
    color: white;
    font-family: monospace;
    font-size: 38px;
    font-weight: 500;
}

.quiz-card header .timer {
    color: #278197;
    background: white;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 175px;
    border-radius: 5px;
    padding: 4px 7px;
}

.quiz-card header .timer .time-left {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 300;
    color: #33a8c5;
}

.quiz-card header .timer .sec {
    color: #585Ce1;
    font-size: 21px;
    font-weight: 700;

}

/*QUESTIONS*/
.quiz-card section {
    background: white;
    padding: 20px 30px 20px 30px;
}

.quiz-card section .q-text {
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.quiz-card section .ABCD {
    display: block;
    margin-top: 20px;
}

section .ABCD .option {
    background-color: #f0ffff;
    color: #216a7c; 
    padding: 4px 7px;
    border: 1px solid #B7EEF0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

section .ABCD .option:hover {
    background: #33a8c5;
    color: white;
}

/*CONTINUE BUTTON*/
.quiz-card footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
}

footer .next-button {
    font-size: 20px;
    background: #33a8c5;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer .next-button:hover {
    background-color: #585Ce1;
}